@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Be Vietnam Pro", Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 262 80% 98%;
    --foreground: 262 60% 20%;
    --card: 262 80% 100%;
    --card-foreground: 262 60% 20%;
    --popover: 262 80% 100%;
    --popover-foreground: 262 60% 20%;
    --primary: 262 83% 58%;
    --primary-foreground: 262 80% 98%;
    --secondary: 262 80% 90%;
    --secondary-foreground: 262 60% 20%;
    --muted: 262 80% 90%;
    --muted-foreground: 262 60% 40%;
    --accent: 262 80% 80%;
    --accent-foreground: 262 60% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 262 80% 85%;
    --input: 262 80% 95%;
    --ring: 262 83% 58%;
    --chart-1: 262 76% 61%;
    --chart-2: 250 58% 39%;
    --chart-3: 240 37% 24%;
    --chart-4: 270 74% 66%;
    --chart-5: 280 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 262 20% 10%;
    --foreground: 262 80% 90%;
    --card: 262 20% 15%;
    --card-foreground: 262 80% 90%;
    --popover: 262 20% 15%;
    --popover-foreground: 262 80% 90%;
    --primary: 262 83% 58%;
    --primary-foreground: 262 80% 98%;
    --secondary: 262 20% 25%;
    --secondary-foreground: 262 80% 90%;
    --muted: 262 20% 25%;
    --muted-foreground: 262 80% 70%;
    --accent: 262 80% 80%;
    --accent-foreground: 262 60% 20%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 262 20% 25%;
    --input: 262 20% 20%;
    --ring: 262 83% 58%;
    --chart-1: 262 70% 50%;
    --chart-2: 250 60% 45%;
    --chart-3: 280 80% 55%;
    --chart-4: 270 65% 60%;
    --chart-5: 300 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
